<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009601499219-mpk9dtagd3lcn3m93378q59qhn0vs7df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009601499219-mpk9dtagd3lcn3m93378q59qhn0vs7df</string>
	<key>API_KEY</key>
	<string>AIzaSyAZHG-t4fAaWlIVo-HbwFEgmvS0enV9ohQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1009601499219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pi3Flutter</string>
	<key>PROJECT_ID</key>
	<string>prijinttres</string>
	<key>STORAGE_BUCKET</key>
	<string>prijinttres.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009601499219:ios:b724c2c6326fc6e1b5f6a6</string>
</dict>
</plist>